<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <!--用命令构建 mvn mybatis-generator:generate -->

    <properties resource="application-dev.properties"/>
    <!-- 本地数据库驱动程序jar包的全路径 -->
    <classPathEntry location="/opt/maven/repos/mysql/mysql-connector-java/5.1.30/mysql-connector-java-5.1.30.jar"/>

    <context id="mysql1" targetRuntime="MyBatis3" defaultModelType="flat">
        <!-- 注释 -->
        <commentGenerator>
            <!-- 是否取消注释 -->
            <property name="suppressAllComments" value="false"/>
            <!-- 是否生成注释代时间戳-->
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- 数据库的相关配置 -->
        <jdbcConnection driverClass="${mysql.datasource.driverclass}" connectionURL="${mysql.datasource.url}" userId="${mysql.datasource.username}" password="${mysql.datasource.password}"/>
        <!-- 类型转换 -->
        <javaTypeResolver>
            <!-- 是否使用bigDecimal， false可自动转化以下类型（Long, Integer, Short, etc.） -->
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 实体类生成的位置 -->
        <javaModelGenerator targetPackage="com.levin.lang.dto" targetProject="${mybatis.pojo-path}">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- *Mapper.xml 文件的位置 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="${mybatis.mapper-path}">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- Mapper 接口Dao文件的位置 -->
        <javaClientGenerator targetPackage="com.levin.lang.dao" targetProject="${mybatis.pojo-path}" type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!-- 相关表的配置 -->
        <table tableName="tb_user" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               enableUpdateByExample="false"/>
    </context>
</generatorConfiguration>